html {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #000;
    background-color: #ddd;
}

body, header, main, footer, section, div, ul, li, img, pre, span, h1, table, form {
    margin: 0;
    padding: 0;
/*    box-sizing: border-box;*/
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

pre {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

input:focus {
    outline: none;
}

select.value_changed,
input.value_changed {
    background-color: #bfb;
    border-color: #8f8;
}

select.value_required,
input.value_required {
    background-color: #fbb;
    border-color: #f88;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}

/*******************/
/*** Page Global ***/
/*******************/

.page-header {
    padding: 10px;
}

.menu {
    text-align: center;
    font-size: 0;
}

.menu-item {
    margin: 0 10px;
    padding: 0;
    color: #000;
    font-size: 14px;
    cursor: pointer;

    border-radius: 5px;
    padding: 2px 10px;
}

.menu-item:hover {
    color: blue;
    text-decoration: underline;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #aaa;
}

.menu-item-current {
    background-color: #fff;
    box-shadow: 0 0 10px 2px #aaa;
}

.menu-link {

}

.page-content {
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
}

.page-content-list {
    /*position: relative;*/
}

.page-footer {
    display: none;
    padding: 20px;
    background-color: #ccc;
    border-top: 1px solid #bbb;
}

.hidden {
    display: none;
}

.scroll-disable {
    overflow: hidden;
}

.form-element {
    /*position: relative;*/
    margin-right: 10px;
}

.form-element-last {
    margin-right: 0;
}

.form-element-label {

}

.form-element-clear-btn {
    display: inline-block;
    position: relative;
    /*margin: 0;*/
    /*padding: 0;*/
    /*right: 6px;*/
    /*top: 7px;*/
    width: 8px;
    height: 8px;

    /*text-align: center;*/
    /*color: gray;*/
    cursor: pointer;
    /*background-color: white;*/
    /*border: 1px solid gray;*/
    /*border-radius: 12px;*/
    z-index: 10;
    background-image: url('../img/btn.svg');
}

.form-element-clear-btn:hover {
    /*color: black;*/
}

.clear-btn-line {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 1px;
    top: 4px;
    width: 8px;
    height: 2px;
    background-color: rgb(192, 96, 96);
    z-index: 9;
}

.clear-btn-line-1 {
    transform: rotate(45deg);
}

.clear-btn-line-2 {
    transform: rotate(-45deg);
}

.svt-filter-text {
  padding-right: 20px;
}

.bg-pale-yellow {
    background-color: #ffb;
}

.bg-pale-red {
    background-color: #fcc;
}

/*************/
/*** Modal ***/
/*************/

.wrapper-modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.wrapper-modal-visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    min-width: 600px;
    min-height: 400px;
    max-width: 1820px;
    max-height: 900px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px #222;
}

.modal-data {
    margin-bottom: 20px;
}

.modal-data-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-title {

}

.modal-close {
    width: 20px;
    height: 20px;
    text-align: center;
    color: #444;
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #ccc;
}

.modal-form {

}

.modal-data-element {
    display: flex;
    margin-bottom: 10px;
}

.modal-label {
    display: inline-block;
    margin-right: 10px;
    width: 115px;
    font-size: 12px;
    text-align: right;
}

.modal-select {
    min-width: 120px;
}

.modal-text {

}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-buttons-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-buttons-section-left {
    justify-content: flex-start;
}
.modal-buttons-section-right {
    justify-content: flex-end;
}

.modal-buttons-section-right > .modal-buttons-element {
    margin-left: 10px;
}

/**************************/
/*** SVT & Network List ***/
/**************************/

.svt,
.network {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px #aaa;
}

.svt-filter,
.network-filter {
    margin: 0 0 20px 0;
    align-self: stretch;
}

.svt-filter {
    padding-top: 5px;
}

.svt-filter-form {
    display: flex;
    flex-direction: column;
}

.svt-filter-section {
    display: flex;
}

.svt-filter-section:first-child {
    margin-bottom: 10px;
}

.svt-filter-label {
    display: inline-block;
    margin-right: 5px;
    font-size: 10px;
}

.svt-filter-select {
    min-width: 100px;
}

.svt-filter-text {

}

.svt-list,
.network-list {
    display: flex;
    justify-content: center;
    align-self: stretch;
    margin: 0 0 20px 0;
}

.svt-pages {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
    align-self: stretch;
}

.svt-pages-buttons {

}

.svt-pages-count {
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

.empty-result,
.svt-pages-info {
    font-style: italic;
}

.table-svt,
.table-network {
    border-collapse: collapse;
    font-size: 14px;
}

tr {

}

.tr-head {
    background-color: #bbb;
}

.tr-item {

}

.tr-item:hover {
    box-shadow: inset 0 0 30px #9bf;
    cursor: pointer;
}

th {
    padding: 8px 15px;
    border: 1px solid gray;
}

td {
    padding: 5px 10px;
    border: 1px solid gray;
}
